body {
  background-image: url('../images/soft-back.jpg');
  color:#fff;
  padding:0;
  margin:0;
  overflow:hidden;
  font-family:georgia;
  text-align:center;
}
#canvas{
  height: auto;
  width: 100%;
  margin: 0;
  cursor: crosshair;
}
.scoreboard{
  position: absolute;
  bottom: 50px;
  right: 30px;
  height:auto;
  width:300px;
  color: white;
  background: url('../images/wood-background.jpg');
  border: 15px;
  border-image: url('../images/wood-border.jpg') 50% 100% 50% 100% repeat;
}
.level{
  text-align:center;
}
#level{
  font-size:40px;
}
.shotsleft{
  float:left;
  width:149px;
}
#shotsleft{
  font-size:40px;
}
.score{
  float:right;
  width:149px;
}
#score{
  font-size:40px;
}
.duckcounter{
  position:absolute;
  bottom:50px;
  right: 45%;
  background-color: #CCCCCC;
}
.duckIMG{
  width: 30px;
  margin:10px;
}
.playerinfo{
  position:absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width:500px;
  height: 200px;
  background-color:#CCC;
  color:green;
}
.highscores{
  background-color: #ccc;
  color: #444;
  font-size: 20px;
  font-weight: bold;
  width: 40%;
  margin:0 auto;
  border-radius: 15px;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;;
}
.Inbetween{
  color:orange;
  background-color: yellow;
  margin:0 auto;
  width: 40%;
}
.gameover{
  background-image:url('../images/city-duck.jpeg');
  background-size: cover;
  color: black;
  font-size:40px;
  vertical-align: middle;
  width:600px;
  height:400px;
  margin:0 auto;
}
.p-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
  box-shadow:inset 0px 1px 0px 0px #fcf8f2;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0d7ad), color-stop(1, #eac380) );
  background:-moz-linear-gradient( center top, #f0d7ad 5%, #eac380 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0d7ad', endColorstr='#eac380');
  background-color:#f0d7ad;
  -webkit-border-top-left-radius:37px;
  -moz-border-radius-topleft:37px;
  border-top-left-radius:37px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:37px;
  -moz-border-radius-bottomright:37px;
  border-bottom-right-radius:37px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:86px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
  margin-left: 15px;
  margin-right: 55px;
}
.p-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #f0d7ad) );
  background:-moz-linear-gradient( center top, #eac380 5%, #f0d7ad 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#f0d7ad');
  background-color:#eac380;
}.p-button:active {
  position:relative;
  top:1px;
}
.s-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  box-shadow:inset 0px 1px 0px 0px #bbdaf7;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
  background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color:#79bbff;
  -webkit-border-top-left-radius:37px;
  -moz-border-radius-topleft:37px;
  border-top-left-radius:37px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:37px;
  -moz-border-radius-bottomright:37px;
  border-bottom-right-radius:37px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #84bbf3;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:106px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
}
.s-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
  background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color:#378de5;
}.s-button:active {
  position:relative;
  top:1px;
}
/*.m-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fcf8f2;
  box-shadow:inset 0px 1px 0px 0px #fcf8f2;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f0d7ad), color-stop(1, #eac380) );
  background:-moz-linear-gradient( center top, #f0d7ad 5%, #eac380 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0d7ad', endColorstr='#eac380');
  background-color:#f0d7ad;
  -webkit-border-top-left-radius:37px;
  -moz-border-radius-topleft:37px;
  border-top-left-radius:37px;
  -webkit-border-top-right-radius:0px;
  -moz-border-radius-topright:0px;
  border-top-right-radius:0px;
  -webkit-border-bottom-right-radius:37px;
  -moz-border-radius-bottomright:37px;
  border-bottom-right-radius:37px;
  -webkit-border-bottom-left-radius:0px;
  -moz-border-radius-bottomleft:0px;
  border-bottom-left-radius:0px;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:40px;
  line-height:40px;
  width:86px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #cc9f52;
}
.m-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #f0d7ad) );
  background:-moz-linear-gradient( center top, #eac380 5%, #f0d7ad 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#f0d7ad');
  background-color:#eac380;
}.m-button:active {
  position:relative;
  top:1px;
}
*/
.m-button{
  width: 50px;
}
